<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>helloworld-button-objc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27E7C8751C3C531000C07E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E7C88E1C3C531000C07E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E7C8991C3C531000C07E37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
